<div class="actividades-container">

  <ng-container *ngIf="activeSection === 'nuestras-actividades'">

    <!-- Timeline 2025 -->
    <section class="timeline-section">
      <h2>Memoria de Actividades 2025</h2>
      <div class="timeline">
        <div class="timeline-item" *ngFor="let monthItem of timeline2025">
          <div class="timeline-content">
            <div class="month-badge">{{ monthItem.month }}</div>
            <ul class="event-list">
              <li *ngFor="let event of monthItem.events">{{ event }}</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </ng-container>

  <ng-container *ngIf="activeSection === 'proximas-rutas'">
    <!-- Próximas Rutas -->
    <section class="proximas-rutas-section">
      <h2>Próximas Rutas</h2>

      <div class="image-container">
        <img src="/proximaRuta.jpg" alt="Información detallada de la próxima ruta" loading="lazy">
      </div>

      <div class="calendar-container">
        <iframe
          src="https://calendar.google.com/calendar/embed?src=pasoslargosinformacion%40gmail.com&ctz=Europe%2FMadrid"
          title="Calendario de actividades de Pasos Largos"></iframe>
      </div>
    </section>
  </ng-container>

</div>